.app{
  display: flex; 
  flex-direction: column;
  height: 44rem;
  margin: auto auto;  
  justify-content: center;
  align-items: center;
}

.insideDiv{
  align-self: center;
}

.insideDiv:hover{
  padding: 50px;
  border: 1px solid lightgray;
  box-shadow: 2 2 2 lightblue;
}